## Parity Suite Environment Overrides
# Copy to .env.parity and adjust to your cluster

# Route 5xx scenario
ROUTE_NS=shop
ROUTE_NAME=checkout

# PVC binding scenario
PVC_NS=student35
PVC_NAME=shared-pvc
PVC_SC=gp3-csi

# Scheduling failures scenario
SCHED_NS=openshift-gitops
SCHED_POD=openshift-gitops-repo-server-5cddfbc756-gdcd4

